@import '~antd/dist/antd.css';

.App {
	text-align: center;
	cursor: default;
}

button.ant-btn.ant-input-search-button.ant-btn-primary {
	color: #00f;
	border-color: #00f;
	background: none;
}

.ant-input-search-enter-button input:hover, 
.ant-input-search-enter-button input:focus {
	border-color: #aaa;
}

.ant-card {
	border-radius: 10px;
}

.ant-card:hover {
	box-shadow: 1px 5px 5px #a4b9f8;
}